header {
  overflow: hidden;
}

.navbar .navbar-brand {
  color: #4592af;
}

.navbar .navbar-brand:hover {
  color: #226089;
}

.banner {
  position: relative;
  z-index: -1;
  margin: -5px;
  height: 360px;
  background: #dddddd center center url('https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5720/restaurants-list-cover.jpg');
  background-size: cover;
  filter: blur(3px);
}

.search-bar .search-bar-outer {
  margin: 0 auto;
  max-width: 680px;
  background-color: #fce2cf;
  border-radius: 8px;
  padding: 20px 30px;
  border: 0;
  margin-top: -60px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.search-bar .search-bar-inner h4 {
  color: #9b4b4b;
}

.form-control::placeholder {
  color: #aaaaaa;
  font-size: 0.8rem;
}

.btn-major {
  background-color: #9b4b4b;
  color: white;
}

.form-control:focus {
  box-shadow: none;
  border-color: #ced4da;
}

.card {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.card-title{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.restaurant-category {
  color: #666666;
  font-size: 0.8rem;
}

.restaurant-show-title {
  position: relative;
  top: -100px;
  color: white;
  text-align: center;
  font-size: 2rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* modify */

.card img{
    height: auto;
}

@media screen and (min-width: 768px) {

  .card img{
    height: 115px;
  }

  .restaurant-show-title {
    font-size: 3rem;
  }
}

@media screen and (min-width: 992px) {
  
  .card img{
    height: 180px;
  }
}

@media screen and (min-width: 1200px){
  
  .container {
      max-width: 1140px;
  }
}

a {
  text-decoration: none;
}

/* Add some style for broken image. ref: https://bitsofco.de/styling-broken-images/ */

img.card-img-top, #imagePreviewBlock {
  text-align: center;
  display: block;
  position: relative;
  min-height: 100px;
}

img:before { 
  content: " ";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgb(235, 235, 235);
  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
}

img:after { 
  content: attr(alt);
  display: block;
  color: rgb(100, 100, 100);
  position: absolute;
  width: 100%;
}